.header{
    width:100%;
    background:white;
    border-bottom:1px solid #eee;
}

/* .navbar{
    width:90%;
    max-width:1200px;
    margin:auto;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;

} */


.navbar {
    width: 100%; 
    padding: 0 50px; 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
}

.logo{
    color:hotpink;
}

.links{
    display:flex;
    gap:30px;

}

.links a{
    text-decoration:none;
    color:#666;

}

.links a:hover{
    color: hotpink;
}

