*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#FCF8FD;

    background-image:
    linear-gradient(#efe5f3 1px, transparent 1px),
    linear-gradient(90deg,#efe5f3 1px, transparent 1px);

    background-size:32px 32px;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
}

ul{
    list-style:none;
}